ctr24h.archives="AVERAGE,0.5,1,480:AVERAGE,0.5,10,144"
ctr24h.def="COUNTER,900,0,U,60"
ctr24h.items="Temperatura_Exterior,Temperatura_Interior"
ctr7d.archives="AVERAGE,0.5,1,480:AVERAGE,0.5,10,144:AVERAGE,0.5,60,672"
ctr7d.def="COUNTER,900,0,U,60"
ctr7d.items="Item3,\ Item4"
defaultNumeric.archives="AVERAGE,0.5,1,480:AVERAGE,0.5,4,360:AVERAGE,0.5,14,644:AVERAGE,0.5,60,720:AVERAGE,0.5,720,730:AVERAGE,0.5,10080,520"
defaultNumeric.def="GAUGE,60,U,U,60"
service.pid="org.openhab.rrd4j"
