felix.fileinstall.active.level="90"
felix.fileinstall.dir="C:\\openhab/addons"
felix.fileinstall.filename="file:/C:/openhab/userdata/etc/org.apache.felix.fileinstall-deploy.cfg"
felix.fileinstall.log.level="3"
felix.fileinstall.poll="10000"
felix.fileinstall.start.level="80"
felix.fileinstall.subdir.mode="skip"
felix.fileinstall.tmpdir="C:\\openhab\\userdata/tmp/bundles"
service.bundleLocation="?"
service.factoryPid="org.apache.felix.fileinstall"
service.pid="org.apache.felix.fileinstall.e2fba7da-aa16-44e0-a934-62ae45753c1a"
